/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


/* Variables */
$header-bg: #090118;
$base-bg: #F2EACE;
$base-text-color: #0B1133;
$base-button-purple: #512667;
$base-button-white: #FFFFFF;



@mixin base-header-text {
    h1 {
        color: $base-text-color;
        font-family: Oregano;
        font-style: normal;
        font-weight: 400;
        line-height: 68px; /* 70.833% */
        text-transform: capitalize;        
    }
}

@mixin base-body-text {
    p {
        color: #0B1133;
        font-family: "Roboto Flex", sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 150% */        
    }
}

/* Header Styling */
.header {
    background-color: $header-bg;
    width: 100%;
    height: 134px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.header-text {
    color: #FFFAE5;
    font-family: "Roboto Flex", sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
    vertical-align: top;
    width: 100%;
}
.header-logo {
    width: 134px;
    height: 134px;
    flex-shrink: 0;
}

/* Home Styling */
.home-div {
    background-color: $base-bg;
    display: 'flex';
    alignItems: 'center';
    justifyContent: 'center';
    height: '90vh';
    maxWidth: '1200px';
    margin: '0 auto';
    padding: '0 50px';
    @include base-body-text();
}

/* Fantasy Theme Styling */




/* Western Theme Styling */




/* SciFi Theme Styling */

