# This is a local folder that is automatically created in PyCharm IDE
.idea/

# Local file within 'backend/app/' directory to hold your API token
.env

# My local Python file for testing code
dk_scratch.py

# node_modules should be ignored
node_modules