/* Cosmetic spacing of navigation items */
.navbar-nav {
    justify-content: flex-start;
    margin-left: 20px;
}

.navbar-brand {
    margin-left: 20px;
}

.nav-item {
    margin-left: 15px;
}

/* Push main section below fixed navigation bar to avoid overlap */
main {
    padding-top: 100px;
}


#flex-container-index {
    display: flex;
}

#title {
    font-size: 50px;
    text-align: center;
}

/* Centers genre image & genre labels */
#genre-form img {
    display: block;
    margin: auto;
}

#genre-form label {
    display: inline-block;
    text-align: center;
}

.container {
    margin: 2%;
}

#length-step,
#character-step {
    display: none;
}

/* storybeat style */
.page-border{
    padding: 4%;
    width: 1392px;
    height: 888px;
    margin: auto;
}

.page{
    display:flex;
    justify-content:space-around;
    border: 3px dotted grey;
    padding: 2%;
}

.page > img{
    margin: 10px;
}

.page-story{
    background-color: rgb(182, 182, 182);
    margin: 10px;
    padding: 1% 3%;
    width: 599px;
    height: 372px;
}

#storyBtn{
   border: none;
   border-radius: 29px;
   font-size: 30px;
   width: 277px;
   height: 91px;
   background-color: grey;
   margin: 60px 40px;
}

.avatar-info-display{
    /* position:absolute;
    transform: translate(265%, -70%);
    transform: translate(950px, -240px); */
    display:flex;
    float: right;
    align-items: baseline;
    transform: translate(17%, -65%)

}


.avatar-placeholder{
    background-color: grey;
    width: 339px;
    height: 339px;
    border-radius:  50%;
}

.character-name{
    transform: translate(85px, -90px);
}

.character-name > span{
    background-color: rgb(202, 202, 202);
    padding: 10px 30px;
}



.health-display > span{
    background-color: rgb(202, 202, 202);
    padding: 5px 20px;
    
}

.avatar-health{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;

}

.avatar-health > div{
    background-color: grey;
    border-radius:  50%;
    width: 20px;
    height: 20px;
    margin: 3px 5px;

}

.choice-display{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    font-size: 30px;
}