#playAgainBtn, #selectChoiceBtn, #storyBtn{
    width: 150px;
    margin: auto;
    margin-top: 20px;  
    padding: 7px;
    font-size: 20px;
}

.western{
    background-color: brown;
    border: 3px solid #E6C485;
}

.sciFi{
    background: #FF4AED;

}

.fantasy{
    background-color: yellow;
}

#storyBtn.fantasy {
    background-color: purple;
}
/* #storyBtn.sciFi {
    background-color: red;
} */